*{
    margin: 0;
    padding: 0;
}

.bg-first{
    background-image: url(Recursos/IMG/background.jpg);

}

.back {
    background-color: rgba(243, 90, 2, 0.5); /* Aquí puedes ajustar el color y la opacidad según tus necesidades */
    /* background-color: rgba(243, 90, 2, 0.85); Aquí puedes ajustar el color y la opacidad según tus necesidades */
}

*{
    font-family: 'Inconsolata', monospace;
    /* font-family: 'Orbitron', sans-serif; */
}

.card-body{
    color: rgba(243, 90, 2, 1);;
}

.sub-item{
    color: aliceblue;
}

.first-gradient{

    background-image: linear-gradient(180deg, #000000 15%, #dd6300 40%, #000000 60%);
    

}

/* #sub-item-1, #sub-item-2{
    display: none;
} */